#exclude any file under "bins" folders
/bin/
plugin/JRipplesPlugin/build/
#exclude all folder in the build folder expect the build/jars folders. 
!src/build/*
src/build/*
!src/build/jars


#Exclude any file under /src/.svn
src/.svn/

#Exclude eclipse setting folder
.settings/

#Plugins
#Exclude svn plugin common ant compilation artifacts
plugin/buildsupport/.svn/
#Exclude build for JRipples plugin
plugin/JRipplesPlugin/build/
#Exclude build for JGitPlugin plugin
plugin/JGitPlugin/build/
