#exclude any file under "bins" folders
/bin/
plugin/JRipplesPlugin/build/
#exclude all folder in the build folder expect the build/jars folders. 
!src/build/*
src/build/*
!src/build/jars


#Exclude any file under /src/.svn
src/.svn/

#Exclude eclipse setting folder
.settings/
plugin/JRipplesPlugin/build/
plugin/buildsupport/.svn/
